@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fortawesome/fontawesome-free/css/all.min.css';
@import './style.scss';

body {
    position: relative;
    height: 100%;
    margin: 5px 10%;
    margin-bottom: 8%;
    background-color: white;
}



.logo-image {
    height: auto;
    max-width: 100%;
    min-width: 150px;
}